<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPEG-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>comparator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>custom-color.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>decode-advanced.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>decode-basic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>decode-online.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>encode-advanced.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>encode-basic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>fuzzer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>in-memory.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>integration-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jpeg.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>recompress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>regression-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rotate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>unit-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>JPEG</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>comparator</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>custom-color</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>decode-advanced</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>decode-basic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>decode-online</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>encode-advanced</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>encode-basic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>fuzzer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>in-memory</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>integration-test</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>jpeg</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>recompress</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>regression-test</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>rotate</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>unit-test</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
